In [5]:
import pandas as pd

df=pd.read_csv('data/credits.csv', delimiter=',')

print(df)

       person_id         id                    name                character  \
0           3748    tm84618          Robert De Niro            Travis Bickle
1          14658    tm84618            Jodie Foster            Iris Steensma
2           7064    tm84618           Albert Brooks                      Tom
3           3739    tm84618           Harvey Keitel  Matthew 'Sport' Higgins
4          48933    tm84618         Cybill Shepherd                    Betsy
...          ...        ...                     ...                      ...
77208    1347054  tm1098060  Nnenna Rachael Okonkwo                   Afinni
77209     157590  tm1098060           Lucien Morgan           Dr. Ian Stones
77210     129059  tm1098060        Magdalena Korpas                     Jane
77211    2050199  tm1098060        Mistura Olusanya               Nurse Titi
77212    2050423  tm1098060              Yemi Amodu                      NaN

           role
0         ACTOR
1         ACTOR
2         ACTOR
3         ACTOR
4         ACTOR
...         ...
77208     ACTOR
77209     ACTOR
77210     ACTOR
77211     ACTOR
77212  DIRECTOR

[77213 rows x 5 columns]

In [6]:
df.iloc[2]

person_id             7064
id                 tm84618
name         Albert Brooks
character              Tom
role                 ACTOR
Name: 2, dtype: object